body {

}

.container {
    width: 60%;
    background-color: #eaeaea;
    margin: 0 auto;
}
.tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
}
.form{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.button{
    background-color: blue;
    color:white;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    border-color: blue;

}
.btn {
    display: inline-block;
    background-color: #6f6ffd;
    color:white;
    padding: 15px 44px 15px 44px;

    text-decoration: none;
    border-radius: 5px;
}

.hr{
    color: white;
    width: 100%;
}