body{
    background-color: #efefef;

}
.container{
    margin: auto;
    width: 70%;
}
.content{
    background-color: white;

}
.form {

    padding: 20px;

}

.qwe {
    display: flex;
    justify-content: center;
}

pre {
    white-space: pre-wrap;
    font-family: Verdana;
    font-size: 15px;
}




.btn {
    margin: 20px;
    display: inline-block;
    background-color: #6f6ffd;
    color:white;
    padding: 15px 44px 15px 44px;

    text-decoration: none;
    border-radius: 5px;
}

.hr{
    color: white;
    width: 100%;
}